select.form-control {
  display: none;
}
.dropdown-select {
  display: block;
}
.dropdown-select .form-control.dropdown-toggle:after{
  float:right;
  margin-top: 10px;
}
.dropdown-select .form-control-lg.dropdown-toggle:after{
  float:right;
  margin-top: 13px;
}
.dropdown-select .form-control-sm.dropdown-toggle:after{
  float:right;
  margin-top: 8px;
}
.dropdown-select .dropdown-menu {
  margin: -1px 0 0 -5px;
  width: 100%;
}
.dropdown-select > .form-control{
	cursor: pointer;
  text-align: left;
}